.box7 {
	height: 550px;
	background-color: white;
	padding: 0px 0px;
}

.box8 {
	height: 550px;
	background-color: blue;
}

.box9 {
	padding: 10px;
	margin: 0px 0px 0px;
}

.box9:hover {
	color: white;
	padding: 10px;
	background-color: black;
	margin: 0px 0px 0px;
}

.box10 {
	text-decoration: none;
	color: black;
}

.box10:hover {
	color: white;
}