<!-- Two Way Binding -->
<h1>Welcome Sujit Kumar Verma</h1>
<input type = "text" [(ngModel)]="name" />

<!-- InterPolation -->
<h3>{{name}}</h3>


<!-- Template Reference Variable -->
<input type = "text" #box/>
<button (click)="getvalue(box.value)">Press Me</button>


<!-- Pipes - used in Html for Conversion -->
<h1>{{name}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{today | date: 'fullDate'}}</h1>
<h1>{{name | slice:3:10 | uppercase}}</h1>


<!-- Applying Internal Style to HTML Element -->
<style>
  .Heading
  {
    color:brown;
    background-color: cadetblue;
  }
</style>
<h1 class = "Heading">Sujit Kumar Verma</h1>



<!-- If Else Block Condition -->
<ng-container *ngIf="show; then Ifblock else Elseblock"></ng-container>
<ng-template #Ifblock>
  <div>
    <h1>Company Amazon</h1>
  </div>
</ng-template>
<ng-template #Elseblock>
  <div>
    <h1>Company Google</h1>
  </div>
</ng-template>


<!-- Mulitple Contion (ElseIf) -->
<div *ngIf="color=='red'">
  <h1> Google </h1>
</div>
<div *ngIf="color=='green'">
  <h1> Amazon </h1>
</div>
<div *ngIf="color=='yellow'">
  <h1> Microsoft </h1>
</div>

<!-- Mulitple Contion (ElseIf) Using ng-template-->
<ng-template [ngIf]="color=='red'">
  <h1> Google </h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
  <h1> Amazon </h1>
</ng-template>
<ng-template [ngIf]="color=='yellow'">
  <h1> Microsoft </h1>
</ng-template>


<!-- Switchcase Condition-->
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'green'">Google</h1>
  <h1 *ngSwitchCase="'red'">Amazon</h1>
  <h1 *ngSwitchCase="'yellow'">Salesforce</h1>
  <h1 *ngSwitchCase="'blue'">DE Shaw</h1>
  <h1 *ngSwitchDefault>DE Shaw</h1>
</div>


<!-- For Loop Condition -->
<h1 *ngFor="let items of names"> name is : {{items}}</h1>
