<h1 style="text-align: center">Product Page</h1>

<div style="text-align: center">
  <h1>
    <a
      class="nav-link"
      [routerLink]="['/eachProduct']"
      [queryParams]="{ product: 'Washing Machine', type: 'Electronics' }"
      queryParamsHandling="merge"
      >Product1</a
    >
  </h1>
  <h1>
    <a
      class="nav-link"
      [routerLink]="['/eachProduct']"
      [queryParams]="{ product: 'Iphone', type: 'Electronics' }"
      queryParamsHandling="merge"
      >Product2</a
    >
  </h1>
  <h1>
    <a
      class="nav-link"
      [routerLink]="['/eachProduct']"
      [queryParams]="{ product: 'Refrigator', type: 'Electronics' }"
      queryParamsHandling="merge"
      >Product3</a
    >
  </h1>
  <h1>
    <a
      class="nav-link"
      [routerLink]="['/eachProduct']"
      [queryParams]="{ product: 'AC', type: 'Electronics' }"
      queryParamsHandling="merge"
      >Product4</a
    >
  </h1>
</div>
