<h1 style="text-align: center;">Template Driven Forms</h1>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-4">
      <form #form="ngForm" (ngSubmit)="getdata(form.value)">
        <div class="mb-3">
          <label for="username" class="form-label">UserName</label>
          <input type="text" minlength="2" class="form-control" id="username" name='username' ngModel required />
          <div *ngIf="form.controls['username']?.touched && form.controls['username']?.invalid" class="alert alert-danger">
            <div *ngIf="form.controls['username']?.errors?.['required']" class="alert alert-danger">
              Email is required
           </div>
            <div *ngIf="form.controls['username']?.errors?.['minlength']" class="alert alert-danger">
              Length should be greater than 2
           </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" id="password" name="password" ngModel required/>
          <div *ngIf="form.controls['password']?.touched && form.controls['password']?.invalid" class="alert alert-danger">
            Password is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>