<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 style="text-align:center;">I am Sujit Kumar Verma</h1>
	<footer th:fragment="footer1(title)">
		<div>
		    <h1 style="text-align:center;" th:text="${title}"></h1>
			<h1 style="text-align:center;">I have Learned Angular</h1>
			<h1 style="text-align:center;">I have Learned React</h1>
			<h1 style="text-align:center;">I have Learned Java</h1>
			<h1 style="text-align:center;">I have Learned J2EE</h1>
			<h1 style="text-align:center;">I have Learned Springboot</h1>
			<h1 style="text-align:center;">I have Learned Spring</h1>
		</div>
	</footer>
</body>
</html>