<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div style="text-align: center">
      <%- include('layouts/company.ejs') %>
      <h1>Dynamic Content Rendering using Ejs</h1>
      <% if(hasproducts) { %> <% for(item of products) { %>
      <h1><%= item %></h1>
      <% } %> <% }else { %>
      <h1>No Products Found</h1>
      <% } %>
    </div>
  </body>
</html>
