<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Using Property Tag -->
	<!--<bean class="com.springcore.Student" name="stud1">
		<property name="studentId">
			<value>25456</value>
		</property>
		<property name="studentName">
			<value>Sujit
				Kumar Verma</value>
		</property>
		<property name="studentAddress">
			<value>Bokaro
				Steel City</value>
		</property>
	</bean>-->

	<!-- Using Value as Attribute -->
	<!--<bean class="com.springcore.Student" name="stud1">
		<property name="studentId"
			value="24563" />
		<property name="studentName" value="Sujit Kumar Verma" />
		<property name="studentAddress" value="Bokaro Steel City" />
	</bean>-->

	<!-- Using P Schema -->
	<bean class="com.springcore.Student" name="stud1" p:studentId="24563"
		p:studentName="Sujit Kumar Verma" p:studentAddress="Bokaro Steel City" />


</beans>